@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------- For Swiper module -------- */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  background: #232323;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: rgba(106, 190, 82, 1);
}

.swiper-pagination {
  bottom: -0.3rem !important;
}

.swiper-wrapper {
  padding-bottom: 2rem;
}
/* --------------------------------- */

.z_10000 {
  z-index: 10000;
}

.z_10001 {
  z-index: 10001;
}

.overflow_wrap_break_word {
  overflow-wrap: break-word;
}

/* --------- About Section --------- */
.about_hero {
  padding-top: 255px !important;
  padding-bottom: 255px !important;
  background-image: url(/assets/images/children.jpg) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  border-radius: 10px !important;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(1);
  }
}
/* --------------------------------- */

/* -------- Values Section --------- */

.bg_of_values_section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(/assets/images/solar_panels.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

/* --------------------------------- */

/* -------- Vision Section --------- */
.vision_card_triangle {
  width: 0;
  height: 0;
  border-top: 2rem solid rgba(106, 190, 82, 1);
  border-left: 2rem solid transparent;
}
/* --------------------------------- */

/* ----- Testimonials Section ------ */
.bg_testimonials {
  background: url(/assets/images/bg_testimonials.jpg) no-repeat;
  background-size: cover;
}
/* --------------------------------- */

/* ---------- Page Title ----------- */
.bg_page_title {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(/assets/images/bg_page_title.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
/* --------------------------------- */

/* ------- Who we are page --------- */

.bg_who_we_are {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(/assets/images/bg_who_we_are.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

/* --------------------------------- */

#shadow-root .ctk-m-1 {
  margin: 0px;
}
