@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------- For Swiper module -------- */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  background: #232323;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #9ec51e;
}

.swiper-pagination {
  bottom: -0.4rem !important;
}

.swiper-wrapper {
  padding-bottom: 2rem;
}
/* --------------------------------- */

.z_10000 {
  z-index: 10000;
}

.z_10001 {
  z-index: 10001;
}

.overflow_wrap_break_word {
  overflow-wrap: break-word;
}